# Linear Regression From Scratch
*Least Squares and Least Mean Squares*
***
**Ian Malone**

The goal of this project is to design a linear regressor using a set of features from a house sales
database to determine its market value. I will be using a well-known data set, the
Boston Housing data set located at https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

This data set has 14 attributes (features), and I will regress to price (14th feature). Therefore, this target variable will not be used as an input. The data set is rather small, and it will be dived 2/3 for training and 1/3 for testing.

The results will be summarized by presenting the training error and its variance across different initializations. The test set error and its variance across different runs will be reported in a table.

The Least Squares (LS) solution, also called statistical regression, and the Least Mean Squares (LMS) algorithm will be used to train the regressor.

When using LS, the effect of different levels of regularizations will be shown. When training with LMS, the learning rate must be properly selected. The effect of the stepsize (or learning rate) will be shown by plotting the learning curve. The weight tracks for the LMS will also be shown. The accuracy of the LMS with the best initialization will be compared to the accuracy of the analytic LS solution.

Other that will be explored include: What happens when the target variable is used as an input? This will be explained by visualizing the learned parameters of the model. Does a bias term need to be included in the model for this problem?

### Import Libraries and Prepare Data

#### Import Libraries

In [546]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Load Data

In [547]:
df = pd.read_csv("C:\\Users\\Ian\\Google Drive\\IanGMalone\\UF\\Classes\\Deep Learning\\HW\\HW1\\Boston_Housing.csv")

In [548]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

#### Prepare Data

In [550]:
# separate target variable

X = df.drop('MEDV', axis = 1)
y = df['MEDV']

In [551]:
# split data set for training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

### Implement Regression Algorithms

#### Least Squares

In [556]:
def least_squares(data, target):
    y = target
    X = np.c_[np.ones(target.shape[0]), data.values]
    betas = np.matmul(np.linalg.inv(X.T @ X), X.T @ y)
    return betas

#### Least Mean Squares

In [586]:
def least_mean_squares(data, target, learning_rate):
    X = np.c_[np.ones(target.shape[0]), data.values]
    W = np.vstack((np.random.rand(X.shape[1]), np.random.rand(X.shape[1])))
    for i in range(data.shape[0]):
        intercept = W[-1][0]
        weights = W[-1][1:]
        error = target.values[i] - (np.dot(weights, data.iloc[i,:]) + intercept)
        new_weights = W[-1] + learning_rate * error * X[i,:]
        W = np.vstack((W, new_weights))
    return W[-1]
    
    

# weight tracks!!!!

### Train and Test Algorithms

#### Train

In [561]:
np

In [585]:
# least squares
ls_betas = least_squares(X_train, y_train)
ls_intercept = ls_betas[0]
ls_weights = ls_betas[1:]

# least mean squares
lms_betas = least_mean_squares(X_train, y_train, 0.0000001)
lms_intercept = lms_betas[0]
lms_weights = lms_betas[1:]

#### Test

### Visualize Results

#### Training Error and Variance Across Initializations

#### Testing Error and Variance Across Initializations

#### Effect of Different Levels of Regularizations (LS)

#### Effect of Different Learning Rates (LMS)

In [565]:
# learning curves

In [566]:
# weight tracks

#### Accuracy Comparison Between Best LS and Best LMS

#### What happens when the target variable is used as an input?

In [567]:
# visualize the learned model parameters

#### Does a bias term need to be included in the model for this problem?